---
layout: splash
permalink: /
title: " "
seo_title: "Cocreate the Future"
description: "We build solutions that allow humans to flourish and humanity to thrive."
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/Happy_children_splashing_water.jpg
  og_image: /assets/images/site/innercircles-ogimage.png
  actions:
    - label: "<i class='fas fa-sign-in-alt'></i> &nbsp;Join our circles"
      url: "/play/onboarding/join/"
  caption:

excerpt: "Help build solutions that allow humans to flourish and humanity to thrive. Develop your skills. Make new friends."

feature_culture:
  - excerpt: '<span class="header-style">Innovation is only wonderful and exciting if it serves people and our planet. Progress should be accessible to anyone. We foster a vibrant positive culture where anyone can help create works of beauty for the wider world.</span>'

feature_simple-solutions:
  - title: '<span  class="fas fa-quote-left"></span>&nbsp; Simple Solutions Still Exist .. &nbsp;<span class="fas fa-quote-right"></span>'
    excerpt: "<i>— Act, activate, grow, dream and play. Just have fun!</i>"

feature_think-act-feel:
  - image_path: /assets/images/site/innercircles-think.png
    alt: "Build life together"
    title: "<span class='fas fa-user-friends'></span>&nbsp;Come together"
    excerpt: "As an individual you can only do so much. Let's put our minds together and co-create our future. So much wisdom and knowledge is already out there, and we will build on top of that. By combining our collective skills. With positivity and optimism we forge ahead."
    url: "/think/"
    title_class: "color-think"
    btn_class: "btn--primary think"
    btn_label: "<span class='fas fa-brain'></span> &nbsp;think"

  - image_path: /assets/images/site/innercircles-act.png
    alt: "Build the world"
    title: "<span class='fas fa-globe-americas'></span>&nbsp;Come fullcircle"
    excerpt: "There is power in the words of 'small' and 'simple'. Our projects are small steps forwards towards a new approach to life. On a practical path that will lead to a more sustainable world. We design an evolutionary lifestyle. An actionable way to make the circle round."
    url: "/act/"
    title_class: "color-act"
    btn_class: "btn--primary act"
    btn_label: "<span class='fas fa-chess-knight'></span> &nbsp;act"

  - image_path: /assets/images/site/innercircles-feel.png
    alt: "Become rounder"
    title: "<span class='fas fa-yin-yang'></span>&nbsp;Become whole"
    excerpt: "Nothing is more important than quality of life. Not just for our own small circle, but for everyone around us. We investigate ways to make people happier. To make life more meaningful, more pleasant and fun. By helping others, we help ourselves too."
    url: "/feel/"
    title_class: "color-feel"
    btn_class: "btn--primary feel"
    btn_label: "<span class='fas fa-heart'></span> &nbsp;feel"

feature_play:
  - image_path: /assets/images/site/innercircles-play.png
    alt: "Evolutionary lifestyle"
    title: "<span class='fas fa-seedling'></span>&nbsp;Grow"
    excerpt: "Leading life to its full potential. To realize our dreams and desires to a level where we are satisfied with the results. Not just for personal goals and objectives, but collective ones too. That is the vision of innercircles. We encourage and stimulate collaboration of many people from all walks of life, regardless of skills or background. We educate ourselves and teach others in turn. Join in our efforts wherever you want, and be a circle builder with us. Together we all benefit from our participation and will maximize synergy. It should be joyful and fun, as we practice playfulness in all the things we do."
    url: "/play/"
    title_class: "color-play"
    btn_class: "btn--primary play"
    btn_label: "<span class='fas fa-theater-masks'></span> &nbsp;play"

research_areas:
  - title: '<span class="fas fa-microscope"></span> Some of our research areas'
    excerpt: '<span class="header-style">Help explore <a href="/think/" class="color-think">patterns and practices</a> to adopt.</span>'
    title_class: "color-think"

research_area_highlights:
  - excerpt: '<div class="notice--feel"><h3><span class="fas fa-hands-helping"></span> <a href="/think/culture/residential-community/" class="color-feel">Residential community</a></h3> How can we strengthen the social fabric in our local environment between the people, small businesses and other institutions that interact together?</div><div class="notice--think"><h3><span class="fas fa-cogs"></span> <a href="/think/technology/humane-design/" class="color-think">Humane design</a></h3> Why do people always have to adjust and adapt to tech innovations and their many side-effects? Technology design must be unobtrusive and in support of us.</div>'

  - excerpt: '<div class="notice--act"><h3><span class="fas fa-leaf"></span> <a href="/think/ecology/circular-economy/" class="color-act">Circular economy</a></h3> What can we do to reduce our ecologic footprint? We investigate smart ways to reuse, upcycle and recycle our resources. So that "Waste becomes food".</div><div class="notice--think"><h3><span class="fas fa-cogs"></span> <a href="/think/technology/small-technology/" class="color-think">Small technology</a></h3> Can we create the opposite of Big Tech that is only non-inclusive and extractive to mankind? We build on open source, open standards accessible technologies.</div>'

  - excerpt: '<div class="notice--play"><h3><span class="fas fa-theater-masks"></span> <a href="/think/economics/mutualism/" class="color-play">Mutualism</a></h3> In which ways do we reap most benefit from cooperating with others? We will optimize methods to maximize synergy in virtuous cycles, where people profit.</div><div class="notice--think"><h3><span class="fas fa-cogs"></span> <a href="/think/technology/decentralization/" class="color-think">Decentralization</a></h3> How do we avoid and circumvent the unhealthy tech monopolies and walled garden platforms? Our approach is decentralization and sharing control.</div>'

flagship_projects:
  - title: '<span class="fas fa-flag"></span> Some of our flagship projects'
    excerpt: '<span class="header-style">Learn how they fit into our <a href="/act/ecosystem/" class="color-act">ecosystem</a>.</span>'
    title_class: "color-act"

feature_projects:
  - image_path: /assets/images/site/innercircle-center-800x60.png
    alt: "Connecting circles"
    excerpt: 'Within innercircles we foster circles. Groups of people that engage and interact. Having local members or people from around the world, the innercircle center is the server software that facilitates them. A participation and cooperation platform to get work done. Supporting discussions, collaborative decision-making, project management and preparation for actions. An innercircle center can operate stand-along or be integrated with others in what we call The Fediverse. The federated and global &#39;Internet for the People&#39;.'
    url: "/act/innercircle-center/"
    title_class: "color-think"
    btn_class: "btn--primary think"
    btn_label: "<span class='fas fa-angle-double-right'></span> &nbsp;visit"

  - image_path: /assets/images/site/fullcircle-today-800x60.png
    alt: "Connecting the dots"
    excerpt: "Bringing people closer together and to get more out of life is the main goal of innercircles. For this purpose we are creating fullcircle today, a social network that supports residential communities. Using this service, regional 'full circles' can be established for people and local shops in your town or city. They allow participation in all kinds of activities. Unlike regular social networks they will try to engage people offline and meet face-to-face. The decentralized services of fullcircle are managed by one or more innercircle centers."
    url: "/act/fullcircle-today/"
    title_class: "color-act"
    btn_class: "btn--primary act"
    btn_label: "<span class='fas fa-angle-double-right'></span> &nbsp;visit"

feature_quote1:
  - title: '<span  class="fas fa-quote-left"></span>&nbsp; Together We Cocreate Our Future &nbsp;<span class="fas fa-quote-right"></span>'

feature_quote2:
  - title: '<span  class="fas fa-quote-left"></span>&nbsp; Access to the pleasant life, the engaged or good life and the meaningful life. &nbsp;<span class="fas fa-quote-right"></span>'
    excerpt: "<i>— On Flourishing, by Mental Health Foundation of New Zealand</i>"

feature_quote3:
  - title: '<span  class="fas fa-quote-left"></span>&nbsp; Man is small, and, therefore, small is beautiful. The fundamental task is to achieve smallness within large organisation. &nbsp;<span class="fas fa-quote-right"></span>'
    excerpt: "<i>— E.F. Schumacher, Small is Beautiful</i>"

feature_socialshare:
  - title: "Help Grow Circles & Expand Radius"
  - excerpt: 'We&#39;d love you to be a circle builder and <a href="/play/" class="color-play"><b>help build with us</b></a>.'

---

{% include feature_row id="feature_culture" type="center" width="70%" %}

{% include feature_row id="feature_quote1" type="center" %}

{% include feature_row id="feature_think-act-feel" %}

{% include feature_row id="feature_simple-solutions" type="center" %}

{% include feature_row id="feature_play" type="left" %}

{% include feature_row id="feature_quote2" type="center" %}

<div class="feature__wrapper">
  <div class="feature__item--center">
    <div>
      <a href="{{ site.baseurl }}/2020/11/how-people-profit/">
        <img src="{{ site.baseurl }}/assets/images/innercircles-people-profit-overview.png" />
      </a>
      <h3 style="margin-top: 1em;"><span class="color-feel">optimize mutualism</span> • <span class="color-play">maximize synergy</span></h3>
    </div>
  </div>
</div>

{% include feature_row id="research_areas" type="center" %}

{% include feature_row id="research_area_highlights" %}

{% include feature_row id="flagship_projects" type="center" %}

{% include feature_column id="feature_projects" %}

{% include feature_row id="feature_quote3" type="center" %}

<div class="feature__wrapper">
  <div class="feature__item--center">
    <div class="archive__item-body">
      <img src="{{ site.baseurl }}/assets/images/site/innercircles-community-tagline.png" />
    </div>
  </div>
</div>

{% include feature_row id="feature_socialshare" type="center" %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Circling now" }}</h3>

<div class="grid__wrapper">
  {% for post in site.posts limit:4 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>