/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
@import "../../../minimal-mistakes/variables";
// ---------------------------------------------


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: $text-color;
$headingColor: $text-color;
$headingFont: $sans-serif;
$mainFontSize: $type-size-3;
$mainFont: $sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #006699;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$codeFont: $monospace;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( #CCE0EB, #fff );
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------