<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
  </ul>
</div>

<div class="page__footer-copyright"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Attribution 4.0 International License" style="border-width:0" src="{{ site.baseurl }}/assets/images/site/creativecommons-CC-BY-SA-80x15.png" title="The content on this site is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License." /></a> &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} <span style="float: right; color: #c0c;">Our software is <a href="https://humanetech.community/"><img src="{{ site.baseurl }}/assets/images/site/humane-tech-badge.svg" alt="humanetech" /></a></span></div>