<script src="{{ '/assets/js/revealjs/dist/reveal.js' | relative_url }}"></script>
<script src="{{ '/assets/js/revealjs/plugin/notes/notes.js' | relative_url }}"></script>
<script src="{{ '/assets/js/revealjs/plugin/markdown/markdown.js' | relative_url }}"></script>
<script src="{{ '/assets/js/revealjs/plugin/highlight/highlight.js' | relative_url }}"></script>
<script>
  // More info about initialization & config:
  // - https://revealjs.com/initialization/
  // - https://revealjs.com/config/
  Reveal.initialize({
    hash: true,

    embedded: true,

    // Learn about plugins: https://revealjs.com/plugins/
    plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
  });
</script>