/* ==========================================================================
   innercircles skin
   ========================================================================== */

/* innercircles logo colors */
$think-color: #006699 !default;
$act-color: #006600 !default;
$feel-color: #ff9900 !default;
$play-color: #cc00cc !default;

$synergy-color: #ff6600 !default;

.color-think {
  color: $think-color !important;
}

.color-act {
  color: $act-color !important;
}

.color-feel {
  color: $feel-color !important;
}

.color-play {
  color: $play-color !important;
}

.color-synergy {
  color: $synergy-color !important;
}

.masthead__menu-item {
  a.color-think, a.color-act, a.color-feel, a.color-play {
    font-weight: bold;
  }
}

/* Animated underline effect for 2-color innercircles ecosystem building blocks */
a.hover-underline {
  position: relative;
  text-decoration: none;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #6f777d;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scaleX(0) translate3d(0, 0, 0);
    transform: scaleX(0) translate3d(0, 0, 0); // hide
  }

  &:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); // reveal
  }
}

a.color-think, a.color-act, a.color-feel, a.color-play, a.color-synergy {
  text-decoration: none;
}

.color-about {
  color: mix(#000, #3b9cba, 20%);
}

a.color-about {
  color: mix(#000, #3b9cba, 20%);
  font-weight: bold;
  text-decoration: none;
}

th.align-top, tr.align-top, td.align-top {
  vertical-align: top;
}

/* Style similar to <h2> but without the underline */

.header-style {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-weight: bold;
  font-size: 1.25em;
}

/* Styles for blog entries on landing page */

.grid__wrapper .archive__item {
  padding: 8px;
  border-radius: 6px;
}

.grid__wrapper .grid__item.color-think .archive__item {
  border: 1px solid $think-color;
}

.grid__wrapper .grid__item.color-act .archive__item {
  border: 1px solid $act-color;
}

.grid__wrapper .grid__item.color-feel .archive__item {
  border: 1px solid $feel-color;
}

.grid__wrapper .grid__item.color-play .archive__item {
  border: 1px solid $play-color;
}

/* Style for top-level menu on a page. */

.page-menu.color-think, .page-menu.color-act, .page-menu.color-feel, .page-menu.color-play {
  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style-type: '• ';
    padding-left: 1.2em;
    margin: 0;
  }

  li {
    margin: 0;
  }
}

