---
layout: archive
---

{{ content }}

{% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section blog">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="page__related">
      <div class="entries-{{ page.entries_layout | default: 'list' }} grid__wrapper">
        {% for post in year.items %}
          {% include archive-single.html type=page.entries_layout %}
        {% endfor %}
      </div>
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
