/* ==========================================================================
   NOTICE TEXT BLOCKS
   ========================================================================== */

/**
 *  Default Kramdown usage (no indents!):
 *  <div class="notice" markdown="1">
 *  #### Headline for the Notice
 *  Text for the notice
 *  </div>
 */

@mixin notice($notice-color, $notice-tint-percentage: 90%) {
  margin: 2em 0 !important;  /* override*/
  padding: 1em;
  color: $dark-gray;
  font-family: $global-font-family;
  font-size: $type-size-6 !important;
  text-indent: initial; /* override*/
  background-color: mix(#fff, $notice-color, $notice-tint-percentage);
  border-radius: $border-radius;
  box-shadow: 0 1px 1px rgba($notice-color, 0.25);

  h3, h4 {
    margin-top: 0 !important; /* override*/
    margin-bottom: 0.75em;
  }

  @at-root .page__content #{&} h4 {
    /* using at-root to override .page-content h4 font size*/
    margin-bottom: 0;
    font-size: 1em;
  }

  p {
    &:last-child {
      margin-bottom: 0 !important; /* override*/
    }
  }

  h3 + p, h4 + p {
    /* remove space above paragraphs that appear directly after notice headline*/
    margin-top: 0;
    padding-top: 0;
  }

  a {
    color: $notice-color;

    &:hover {
      color: mix(#000, $notice-color, 40%);
    }
  }

  code {
    background-color: mix(#fff, $notice-color, 95%)
  }

	pre code {
		background-color: inherit;
	}

  ul {
    &:last-child {
      margin-bottom: 0; /* override*/
    }
  }
}

/* Default notice */

.notice {
  @include notice($light-gray);
}

/* Primary notice */

.notice--primary {
  @include notice($primary-color);
}

/* Info notice */

.notice--info {
  @include notice($info-color);
}

/* Warning notice */

.notice--warning {
  @include notice($warning-color);
}

/* Success notice */

.notice--success {
  @include notice($success-color);
}

/* Danger notice */

.notice--danger {
  @include notice($danger-color);
}

/* CUSTOM: Notices for innercircles colors/brands */

@mixin innercircles-notice($notice-color) {
  @include notice($notice-color, 80%);
  border: 2px solid $notice-color !important;
  box-shadow: none !important;

  h3, h4 {
    margin-top: 0.25em !important; /* override*/
    margin-bottom: 0.5em !important;
    color: $notice-color !important;
  }
}

.notice--think {
  @include innercircles-notice($think-color);
}

.notice--act {
  @include innercircles-notice($act-color);
}

.notice--feel {
  @include innercircles-notice($feel-color);

  h3, h4 {
    color: mix(#000, $feel-color, 10%) !important;
  }
}

.notice--play {
  @include innercircles-notice($play-color);
}

.feature__item {
  .notice--think, .notice--act, .notice--feel, .notice--play {
    font-size: 1em !important;
  }
}